# Entorno de ejecución: development | production | test
NODE_ENV=development

# Servidor
PORT=3000
API_PREFIX=api

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/colegio

# Autenticación
JWT_SECRET=cambia_esta_clave_por_una_de_al_menos_32_caracteres
JWT_EXPIRES_IN=8h
BCRYPT_SALT_ROUNDS=10

# Colegio
SCHOOL_NAME=Unidad Educativa Funval
MIN_PASSING_GRADE=51
MAX_STUDENTS_PER_COURSE=30
